.wrapper{
    display:flex;
    flex-wrap:wrap;
}
.item{
    width:20%;
    height:100px;
    border-radius: 2px;
    border:solid 1.4px #eee;
    padding:4px;
    margin:10px;
}
.top{
    height:50px;
}
.botton{
    height:50px;
}
.item:hover{
    box-shadow: 2px 2px 4px gray;
}
.relative{
    position:relative;

}
.ab{
    position:absolute;
    top:5px;
    right:10px;
}
.edit_item{
    height:30px;
    border: 2px solid #eee;
    width:100%;
    padding:5px;
    background-color: #fff;
}
.edit_item:hover{
    background-color: #efefef;
    cursor: pointer;
}
.edit_form{
    box-shadow: 2px 2px 4px gray;
    position:absolute;
    top:5px;
    height:20px;
    right:10px;
    width:70px;

    z-index: 5;
}
.narrow_form{
  
    display:inline;
}